:root{
    --primary-color:#485923;
    --primary-light:#98A62E;
    --secondary-color:#F49A5B;
    --background-color:#F4FFD7;
    --dark-grey:#444;
    --darker-grey:#333;
    --color-white:#fff;
    --max-width:114rem;
    --default-font:1.6rem;

}